{% extends 'info/base.html' %}
<body>
    
    {% block content %}
   <h2>
    Специалист по информационной безопасности. Описание профессии
   </h2>
   <h3>
    Что делают специалисты по информационной безопасности и чем занимаются?
   </h3>
   Специалист по информационной безопасности — это человек, который разрабатывает аудиты компьютерных систем для обеспечения операционной безопасности и защиты от атак. Специалисты по информационной безопасности осуществляют надзор и контроль за повседневным администрированием отдела информационной безопасности. Координируют работу с другими отделами для повышения осведомленности и обучения протоколам безопасности. 
   <h3>
    <h3>
        Что делают специалисты по информационной безопасности и чем занимаются?
    </h3>
    Обязанности на примере одной из вакансий: заниматься расследованием инцидентов информационной безопасности, предложением превентивных мер по результатам расследования; проводить формирование требований для безопасной настройки операционных систем, сетей и сервисов в рамках обработки инцидентов информационной безопасности. обследование объектов информатизации; проектирование систем защиты; формирование спецификаций необходимых средств защиты информации; установка и настройка средств защиты информации; оформление материалов аттестационных испытаний; взаимодействие с коммерческим отделом в части проработки коммерческих предложений; анализ технической документации для участия в тендерах; периодическая отчетность руководителю проектов. 
   </h3>
   <h3>
    Что делают специалисты по информационной безопасности и чем занимаются?
   </h3>
   <h3>
    Что делают специалисты по информационной безопасности и чем занимаются?
   </h3>
   <h3>
    Что делают специалисты по информационной безопасности и чем занимаются?
   </h3>
    {% endblock content %}
   
</body>
</html>